@font-face {
	font-family: 'black_velvetregular';
	src: url('../fonts/black_velvet-webfont.eot');
	src: url('../fonts/black_velvet-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/black_velvet-webfont.woff2') format('woff2'),
		url('../fonts/black_velvet-webfont.woff') format('woff'),
		url('../fonts/black_velvet-webfont.ttf') format('truetype'),
		url('../fonts/black_velvet-webfont.svg#black_velvetregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
