//  --- Footer style ----  //

footer {
	background: #fff;
	padding-bottom: 4em;
}

.content-info {
	background: #f8f8f8;
	margin-bottom: 0;
	margin-top: 4em;
	border-top: 10px solid #eaeaea;
	font-size: 1.1em;
	p{
		font-size: 1.1em;
	}

	h3 {
		padding-top: 1.2em;
		letter-spacing: .1em;
		font-weight: 800;
		font-size: 1em;
		text-transform: uppercase;
		padding-bottom: .5em;
		border-bottom: 1px solid #c4c4c4;
		color: black;
	}
	a {
		color: black;
	}

	a:hover {
		text-decoration: underline;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

}


footer .container>p {
	letter-spacing: .08em;
	text-align: center;
}




.content-info .widget {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.intro h3{
	line-height: 1.4em;
}

.content-info .widget {

	@media (min-width:768px) {
		float: left;
		width: 50%;
	}

	@media (min-width:992px) {
		float: left;
		width: 25%;
	}

} // ---> /.content-info

.footer-info {
	padding: 3em 1em 2em 1em;
}

.social-logos {
	@media (min-width:$screen-sm){
		max-width: 400px;
		margin: 0 auto;
}

	img {
		max-width: 60px;
		margin: 0 auto;
	}
}

.sidebar-footer {
	padding-bottom: 2em;
}

footer {
	.logo-full {
		max-width: 350px;
		margin: 0 auto;
		padding: 3em 2em 1em 2em ;
	}
}

