

.navbar-default {
	font-family: 'black_velvetregular';
	background-image: url(../images/nav-bg-2.jpg);


	.navbar-header .navbar-brand{
		@media (max-width:$screen-sm){							padding-top: 10px;}
		@media (min-width:768px) and (max-width:830px){ 	padding-top: 15px;}
		@media (min-width:830px) and (max-width:992px){ 	padding-top: 18px;}
		padding: 0;
		@media (min-width:$screen-md){
			transition: margin 2s;
			margin-left: 10px;
		}
		@media (min-width:$screen-lg){
			transition: margin 2s;
			margin-left: 50px;
		}
		img {
			@media (max-width:$screen-sm){						width: 200px;}
			@media (min-width:768px) and (max-width:830px){	width: 130px;}
			@media (min-width:830px) and (max-width:992px){	width: 185px;}
		}
	}

	.navbar-collapse {
		@media (max-width:$screen-sm){
			background: $gray-lighter;
			a {
				text-align: center;
			}
		}
		@media (min-width:$screen-sm){
			background: $light-green;
		padding: 4px;
		border: 1px solid black;
		ul {
			background: $blue;
		}
		}
	}
	.navbar-right {
		@media (max-width:$screen-sm){							margin-top: 10px;}
		@media (min-width:768px) and (max-width:830px){ 	margin-top: 15px;}
		@media (min-width:830px) and (max-width:992px){ 	margin-top: 35px;}
	@media (min-width:$screen-md){
		margin-top: 30px;
	}
	}
	.navbar-nav>li>a {
		color: black;
		text-transform: lowercase;
		font-size: 1.8em;
		letter-spacing: 0.01em;
		text-shadow:
			-1px -1px 0 #fff,
			1px -1px 0 #fff,
			-1px 1px 0 #fff,
			1px 1px 0 #fff;
		&:active {
			background: $blue;
		}
		@media (min-width:$screen-sm){
			padding: 10px 10px;
		}
	}
	.navbar-nav>.active>a {
		text-shadow:
			-1px -1px 0 $light-green,
			1px -1px 0 $light-green,
			-1px 1px 0 $light-green,
			1px 1px 0 $light-green;
		color: black;
		@media (min-width:$screen-sm) {
		background: $blue;
		}
	}
	.navbar-nav>.active>a:focus,
	.navbar-nav>.active>a:hover {
		text-shadow:
			-1px -1px 0 rgba(255, 255, 255, 0.49),
			1px -1px 0 rgba(255, 255, 255, 0.49),
			-1px 1px 0 rgba(255, 255, 255, 0.49),
			1px 1px 0 rgba(255, 255, 255, 0.49);
		color: black;
		background: $blue;
	}
	.navbar-nav>a:focus,
	.navbar-nav>a:hover {
		text-shadow:
			-1px -1px 0 $green,
			1px -1px 0 $green,
			-1px 1px 0 $green,
			1px 1px 0 $green;
		color: black;
		background: $blue;
	}

	@media (min-width:$screen-sm) {
	.navbar-nav>.open>a, {
		background: $blue;
	}
	.navbar-nav>.open>a:focus, {
		background: $blue;

	}
	.navbar-nav>.open>a:hover{
		background: $blue;


	}
	}
	.dropdown-menu>li>a {
		text-transform: lowercase;
		letter-spacing: 0.03em;
		font-size: 1.4em;
		text-shadow:
			-1px -1px 0 rgba(255, 255, 255, 0.49),
			1px -1px 0 rgba(255, 255, 255, 0.49),
			-1px 1px 0 rgba(255, 255, 255, 0.49),
			1px 1px 0 rgba(255, 255, 255, 0.49);
	}


	.navbar-toggle {
		border: none;

		.icon-bar { background-color: $red;
			border: 2px solid $red;
		}
	}

}
